// Mixins - Settings
/* 
Sets up the main variables for the site.
Colors, text, and fonts
*/

// COLORS
@prim-color:      	#21759b; //blue
@sec-color:         #118844; //green
@tert-color:      	#0000FF; //blue

@black:             #444;
@grey:							#757575;
@white:             #fff;

@text-color:				@black;

@link-color:        @sec-color; 
@link-hover:        darken(@link-color, 9%);

@button-color:     	#00FFFF; //cyan

@max-width: 				1000px;

.wrap {
	max-width: @max-width;
	margin: 0 auto 0;	
}
 
// TYPOGRAPHY
@sans-serif:         "Open Sans", Helvetica, Arial, sans-serif;
@serif:              Georgia, Cambria, Times New Roman, Times, serif; 
@body-font:						@sans-serif;
@heading-font:				"Open Sans Condensed", Helvetica, Arial, sans-serif;