/* -------------------------------------------------------------
#secondary .widget-area
	aside .widget
-------------------------------------------------------------- */
.widget-area {	
	.widget {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
		
		.widget-title {}
		
		a {
			color: @link-color;
		}
		p {}
		ul {
			list-style: none;
			
			li {			
				&:first-child {}
				&:last-child {}
				a {}
				
				/* deep nesting */
				ul {}
			}
		} 
	}
	#s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
	}
	.sidebar_advert {
		display: none;	
	}
}


/** Breakpoint - 768 **/
@media only screen and (min-width: 768px) {
	.widget-area .sidebar_advert {
		display: inline-block;
		.min-height(650px);
		text-align: center;
			
		iframe {
			.height(600px);
		}
	}	
}		