/** Site Header
-------------------------------------------------------------- 
header#masthead .site-header
	.inner-header
		.site-branding
			h1.site-title
			h2.site-description
		nav#site-navigation .main-navigation	
			.menu
				.nav-menu
					li 
						.children
-------------------------------------------------------------- */
.site-header {}	
.QRprintonly {
	display:none;
}
.site-branding {
	width: 80%;
	display: inline;
	float: left;
	
	.site-title {
		margin: 0;
		text-align: center;
	}
	.site-description {	
		display: none;
	}
	a {
		text-decoration: none;
	}	
}

/** Breakpoint - 600 **/
@media only screen and (min-width: 600px) {
	.site-header {
		.margin-top(20px);
	}	
	.site-branding {
		background: url(../images/buffy-banner.png) no-repeat;
		.height(150px);
		.padding(10px);
		width: 100%;
		color: @white;
			
		.site-title {
			text-align: left;
		}
		.site-description {	
			display: block;
		}
		a {
			color: @white;
		}	
	}
}