/** Home 
-------------------------------------------------------------- */
.home {
	.site-content {
		max-width: 100%;
	}
	.call_to_action {
		background: url("../images/roadtorecovery.jpg");
		background-size: cover;
		.margin(2px, auto);
		.height(250px);
		
		.call_to_action_text {
			text-align: center;
			color: #fff;
			font-family: @sans-serif;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			
			h1 {
				.font-size(20px);
				width: 75%;
				margin: 0 auto 0;
				text-shadow: 1px 1px 5px black;
			}
			h2 {
				.font-size(20px);
				border: none;
				
				a {
					background: @sec-color;
					color: @white;
					.border-radius(10px);
					border: 2px solid @white;
					display: inline-block;
					.padding(10px, 40px);
					.margin(20px, 10px);
				}
			}
		}
	}
	.blurb-wrapper {
		background: @sec-color;
		.padding(20px);
		
		.blurb {
			.wrap;
			
			p {
				.font-size(22px);
				width: 80%;
				margin: auto;
				text-align: center;
				color: @white;
				text-shadow: 1px 1px 1px black;
			}
		}
	}
	.content-area {
		.wrap;
		width: 100%;
		float: none;
		display: block;
		margin-right: auto!important;
		.padding(10px);
	}
	.news_prescott,
	.advert-section {
		display: none;
	}
}

/** Breakpoint - 600 **/
@media only screen and (min-width: 600px) {
	.home {
		.call_to_action {
			.height(350px);
			
			.call_to_action_text {
				.wrap;
				.padding-top(60px);
				
				h1 {
					.font-size(25px);
				}
				h2 {
					.padding-top(20px);
					.font-size(30px);
					
					a {						
						.padding(10px, 25px);
						box-shadow: 6px 15px 15px -12px @black;
						
						&:hover {
							background: darken(@sec-color, 9%);
						}
					}
				}
			}
		}	
		.blurb-wrapper {
			.blurb {
				p {
					.font-size(24px);
					width: 90%;
				}
			}
		}		
		.content-area {
			.wrap;
			width: 100%;
			float: none;
			display: block;
			margin-right: auto!important;
		}
		.news_prescott,
		.news_recovery {
			.column(6);
			
			h2 {}
		}
		.news_recovery {
			margin-right: 0;
		}
	}
}

/** Breakpoint - 1000 **/
@media only screen and (min-width: 1000px) {
	.home {
		.call_to_action {
			.height(450px);
			
			.call_to_action_text {
				.padding-top(120px);
				
				h1 {}
				h2 {					
					a {						
						&:hover {}
					}
				}
			}
		}	
		.content-area {
			padding: 0;
		}
		.news_prescott,
		.news_recovery {
			.column(5);
			
			h2 {}
		}
		.advert-section {
			.column(2);
			margin-right: 0px;
			.min-height(650px);
			
			.advert {
				text-align: center;
				
				iframe {
					.height(600px);
				}
			}
		}
	}
}

/** Blog
-------------------------------------------------------------- */
.blog {
	article {
		overflow: hidden;
	}
	.entry-header {
		.margin-bottom(10px);
	}
	.entry-content {
		p {
			margin: 0;
		}
	}	
}
/** Archives
-------------------------------------------------------------- */
.archive {
	article {
		overflow: hidden;
		.margin-bottom(10px);
	}
	.entry-header {
		.margin-bottom(10px);
		
		.entry-title {
			margin-top: 0;
		}		
	}
	.entry-content {
		p {
			margin: 0;
		}
	}	
}

/** Rehabs - Single
-------------------------------------------------------------- */
.single-rehabs {
	.content-area {
		width: 100%;
	}
	.rehab_heading{}
	.basicinfo {}
	.google_advert {}
	.philosophy {}
}

/** Breakpoint - 600 **/
@media only screen and (min-width: 600px) {
	.single-rehabs {
		.rehab_heading {
			h1 {
				display: inline-block;
			}
			address {
				display: inline-block;
				.margin-left(20px);
			}
		}
		.basicinfo {
			clear: both;
			.column(4);
			margin-left: 0;
		}	
		.philosophy {
			.column(8);
			margin-right: 0;
		}
		.details_wrap {
			.column(8);
			margin-left: 0;
			clear: both;		
			.treatment_details {
				.residential_options {
					.column(6);
					margin-left: 0;
				}
				.treatment_services {
					.column(6);
					margin-right: 0;
				}
				.treatment_methods {
					.column(6);
					margin-left: 0;
					clear: both;
				}
				.client_types {
					.column(6);
					margin-right: 0;
				}
			}
			.payment_details {
				.column(8);
				margin-leftt: 0;		
				
				.payment_forms {}
				.insurance_plans {}
			}
			.google_advert {
				.column(4);
				text-align: center;
				margin-left: 0;
				
				iframe {
					.height(250px);
				}
			}				
		}
	}
}
/** Rehabs - Archive
-------------------------------------------------------------- */
.page-template-page-compare-php {
	.content-area {
		width: 100%;
	}
	article {
		clear: both;
		border: 1px solid #ddd;
		.border-radius(5px);
		overflow: hidden;
		.margin-top(15px);
		.padding(10px);
	}
	.entry-header {}
	.philosophy {}
	.residential_options_section {
		ul {
			.padding-left(20px);
		}
	}	
}

/** Breakpoint - 600 **/
@media only screen and (min-width: 600px) {
	.page-template-page-compare-php {
		.content-area {
			width: 100%;
		}
		article {
			clear: both;
			border: 1px solid #ddd;
			.border-radius(5px);
			overflow: hidden;
			.margin-top(15px);
			.padding(10px);
		}
		.entry-header {
			.column(3);
			margin-left: 0;
		}
		.philosophy {
			.column(6);
		}
		.residential_options_section {
			.column(3);
			margin-right: 0;
		}	
	}
}
	
/** 404
-------------------------------------------------------------- */
.error404 {} 

/** Single 
-------------------------------------------------------------- */
.single {}

/** Page 
-------------------------------------------------------------- */
.page {}